.container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;


}

.start{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start h1{
    font-size: 90px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.start p{
    font-size: 18px;
}
.start button{
    margin-top: 50px;
    padding: 14px;
    font-size: 22px;
    border: none;
    background: #4D5B9E;
    border-radius: 15px;
    color: #F5F7FB;
    font-weight: 500;
}

.start button:hover{
    background: #444f85;
    cursor: pointer;
}